<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" href="/public/stylesheets/style.css" type="text/css" />
		<title>Eat Burgers</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/public/js/brains.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>