<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
<<<<<<< HEAD
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" href="/public/stylesheets/style.css" type="text/css" />
		<title>Eat Burgers</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/public/js/brains.js"></script>
	</head>
	<body>
		{{{ body }}}
=======
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>My Hero</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">

		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <link href="stylesheets/style.css" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body>
		{{{ body }}}

        <script type="text/javascript" src="js/signup.js"></script> 
        <script type="text/javascript" src="js/login.js"></script>
        <script type="text/javascript" src="js/members.js"></script>

>>>>>>> 13607f8edf8289e21292cffdcf0d48aba99ccd3d
	</body>
</html>