
  <div class="background">
    <div class="container">
    <div class="row">
      <div class="row signs-up">
      <div class="col m6 offset-m3">
        <h2 class="white-text">Login</h2>
        <form class="login">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control white-text" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control white-text" id="password-input" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-default pink lighten-1">Login</button>
        </form>
        <br />
        <p class="white-text">Or sign up <a href="/" class="pink-text text-lighten-1">here</a></p>
      </div>
    </div>
  </div>
  </div>