 <div class="background">
   <div class="container">
     <div class="row member">  

 <nav class="navvy">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">
        <img class="favicon" src="images/baticon.png">
        <img class="favicon" src="images/spideyicon.png">
        <img class="favicon" src="images/americaicon.png">
        <img class="favicon" src="images/ironicon.png">
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li id="searchDisplay"><a>Search</a></li>
        <li id="dashDisplay"><a>Dashboard</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
 </nav>

 <div class="searchContainer">
   <h1 class="white-text">Search Characters</h1>
    <form>
        <div class="input-field pink lighten-1 searchBar">
          <input id="search" class="searchItem" type="search" required >
        </div>
        <a class="waves-effect waves-light btn-large pink lighten-1 searchBtn"></i>search</a>
    </form>

    <div class="searchResult white-text"></div>
 </div>

 <div class="dashboard"> 
   <ul class="tabs tabs-transparent">
        <li class="tab "><a id="historyTitles" href="#test1">Recently Viewed Titles</a></li>
        <li class="tab"><a id="savedTitles" href="#test2">Pinned Titles</a></li>
    </ul>
 </div>

 </div>
 </div>
   </div>


   
       

  
    
  
 