 <div class="background">
   <div class="row member">
 <nav class="navvy">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">
        <img class="favicon" src="images/baticon.png">
        <img class="favicon" src="images/spideyicon.png">
        <img class="favicon" src="images/americaicon.png">
        <img class="favicon" src="images/ironicon.png">
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a>Search</a></li>
        <li><a>Dashboard</a></li>
        <li><a>Logout</a></li>
      </ul>
    </div>
 </nav>

 <div class="container searchContainer">
   <h1>Search Characters</h1>
    <form>
        <div class="input-field pink lighten-1">
          <input id="search" type="search" required>
        </div>
    </form>
 </div>
 </div>
 </div>
       
    
  
 