
  <div class="member-background">
    <div class="row">
      <div class="col m6 offset-m3">
        <h2 class="white-text">Search Characters</h2>

         <form class="search">
           <nav>
          <div class="nav-wrapper">
            <form>
              <div class="input-field pink lighten-1">
                <input id="search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </div>
        </nav>

        <br />

        <button type="submit" class="btn btn-default pink lighten-1">search</button>

        </form>
       
        <br />
      </div>
    </div>
  </div>