.favicon {
  height: 50px;
  width: 50px;
}
  
.navGuys {
  margin: 20px auto;
}

.navvy {
  background: inherit;
  background-color: #424242;
}

.navHolder {
  margin: 20px auto;
}

.member {
  height: 1000px;
  padding: 0px;
}

.background {
  background-image: url("/images/cityscape.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}


.searchContainer {
  float: left;
  margin: 15px;
  padding: 15px;
}

.dashboard {
  display: none;
  float: left;
}

#historyTitles {
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: grey;
  font-size: 24px;
  margin: 10px;
}

#savedTitles {
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: grey;
  font-size: 24px;
  margin: 10px;
}

.searchBtn:hover {
  background-color: red;
  color: red;
}

.searchBar {
width: 600px;
}

#search {
  border: 1px solid black;
  border-radius: 2px;
}

.searchResult {
  float: left;
  margin: 20px;
}

.searchInput {
  font-size: 70px;
  font: white;
}